/*
--ghost-white: #f7f7ffff;
--dark-purple: #210b2cff;
--celestial-blue: #279af1ff;
--dim-gray: #60656fff;
--night: #131112ff;


--ghost-white: hsla(240, 100%, 98%, 1);
--dark-purple: hsla(280, 60%, 11%, 1);
--celestial-blue: hsla(206, 88%, 55%, 1);
--dim-gray: hsla(220, 7%, 41%, 1);
--night: hsla(330, 6%, 7%, 1);
*/



body {
  background-image: url('../public/background.png');
  background-size: cover;
  background-position: center;
  font-family: 'Poppins';
}

.App {
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: white;
  font-size: 2rem;
  background-color: hsla(280, 60%, 15%, 1);
}

nav span {
  color: hsla(270, 88%, 70%, 1);
}

/* main */

main ul.songResults {
  text-decoration: none;
  list-style-type: none; /* Remove bullets */
}

main .songResults h2 {
  color: white;
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.8rem;
  align-self: flex-start;
}

.container { /* container for songResults and playlist aside each*/
  display: flex;
  justify-content: center;
  margin-top: 10rem; /* temporary */
}

.songResults {
  width: 50%; /* other should have 40 */
  border: 0.3rem solid #212121;
  background-color: #2d005d8c;
  border-radius: 1rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist {
  width: 40%; /* other should have 40 */
  border: 0.3rem solid #212121;
  background-color: #2d005d8c;
  border-radius: 1rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist SaveButton {
  font-family: 'Times New Roman', Times, serif;
}


/* footer */

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: white;
  font-size: 2rem;
  background-color: hsla(280, 60%, 15%, 1);
}

footer span {
  color: hsla(270, 88%, 70%, 1);
  margin-right: 7px;
}